[submodule "environment/transport/client/rust"]
	path = environment/transport/client/rust
	url = git@github.com:DmitryAstafyev/clibri.transport.rust.client.git
[submodule "environment/transport/server/rust"]
	path = environment/transport/server/rust
	url = git@github.com:DmitryAstafyev/clibri.transport.rust.server.git
[submodule "environment/transport/client/typescript"]
	path = environment/transport/client/typescript
	url = git@github.com:DmitryAstafyev/clibri.transport.ts.client.git
[submodule "environment/transport/server/typescript"]
	path = environment/transport/server/typescript
	url = git@github.com:DmitryAstafyev/clibri.transport.ts.server.git
[submodule "lib/rust"]
	path = lib/rust
	url = git@github.com:DmitryAstafyev/clibri.lib.rust.git
[submodule "lib/typescript"]
	path = lib/typescript
	url = git@github.com:DmitryAstafyev/clibri.lib.ts.git