p.messages-info{
    color: rgb(240,240,240);
    padding: 6px 6px;
    font-size: 10px;
}
ul.messages{
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

ul.messages li {
    position: relative;
    display: block;
    color: rgb(240,240,240);
    font-size: 14px;
    padding: 6px 6px;
    list-style: none;
    cursor: default;
    user-select: none;
    margin: 6px 12px;
    border-radius: 3px;
    border: thin rgb(50, 50, 50) solid;
}

ul.messages li span.username {
    display: block;
    position: relative;
    font-size: 12px;
    color: rgb(150,150,150);
}

ul.messages li span.datetime {
    display: block;
    position: relative;
    font-size: 12px;
    color: rgb(150,150,150);
    text-align: right;
}

ul.messages li p.message {
    display: block;
    position: relative;
    font-size: 14px;
    color: rgb(250,250,250);
    margin: 0;
    padding: 12px 0;
}

ul.messages li.own {
    background: rgb(36,44,61);
}

ul.messages li.system {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    margin: 0 12px;
}

ul.messages li.system p.message {
    background: none;
    font-size: 12px;
    color: rgb(120, 120, 120);
    padding: 6px 0 3px 0;
    flex: auto;
}

ul.messages li.system span.username {
    display: none;
}

ul.messages li.system span.datetime {
    padding: 9px 0 0 0;
    font-size: 9px;
    color: rgb(120, 120, 120);
}

ul.messages li:hover {
    background: rgb(40,40,40);
    color: rgb(255,255,255);
}

ul.messages li.system:hover {
    background: none;
    color: rgb(200, 200, 200);
}