body,
div.main {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #222222;
    overflow: hidden;
}



div.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.7);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    overflow: hidden;
}
div.output {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 0;
    right: 15rem;
    background: #222222;
    overflow: hidden;
}
div.output > div.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 5rem;
}
div.output > div.input {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5rem;
    bottom: 0;
}
div.output > div.input > textarea {
    position: absolute;
    display: block;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    left: 0.5rem;
    bottom: 0.5rem;
    background: #000000;
    color: #FFFFFF;
    resize: none;
}
aside {
    position: absolute;
    right: 0.5rem;
    width: 14rem;
    top: 2.5rem;
    bottom: 2.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(0,0,0, 0.4);
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    overflow: hidden;
}

div.modal{
    position: absolute;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 12px rgba(0,0,0, 0.4);
}

.background-a {
    background: #a7c7dc; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}

.background-b {
    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

.border-a{
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
}